Dr Strange – AI Appointment Automation.json
{
  "name": "Dr Strange – AI Appointment Automation",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "8378a850-ddca-4ada-a6d9-a2a14f1162b3",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "278e7685-4fe8-4270-adf7-daae4363eabc",
              "name": "patientName",
              "value": "Tony Stark",
              "type": "string"
            },
            {
              "id": "b8f121a3-9774-42b9-8bfc-d334d98f8059",
              "name": "patientEmail",
              "value": "tony@starkindustries.com",
              "type": "string"
            },
            {
              "id": "a4807262-c12f-432c-b035-a2b74fb4cc79",
              "name": "requestedDate",
              "value": "2026-01-30",
              "type": "string"
            },
            {
              "id": "e6499c1b-50e5-4b5e-ae52-3af6ca32645a",
              "name": "requestedTime",
              "value": "10:00",
              "type": "string"
            },
            {
              "id": "fc917960-9a1c-4b53-a2fa-f1c7c99fe54c",
              "name": "durationMinutes",
              "value": "60",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "060fffa4-d1c3-4aaf-9333-b071b6a81554",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "lakshitmalhotra383@gmail.com",
          "mode": "list",
          "cachedResultName": "lakshitmalhotra383@gmail.com"
        },
        "returnAll": true,
        "timeMin": "2026-01-29T23:57:40",
        "timeMax": "2026-01-29T23:55:55",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        480,
        0
      ],
      "id": "1845f300-f772-4f7a-a84a-f994e7426d89",
      "name": "Get many events",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "9QO07SnOd3asdlq3",
          "name": "Google Calendar account 3"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "lakshitmalhotra383@gmail.com",
          "mode": "list",
          "cachedResultName": "lakshitmalhotra383@gmail.com"
        },
        "start": "2026-01-30T00:02:50",
        "end": "2026-01-30T01:02:50",
        "useDefaultReminders": false,
        "additionalFields": {
          "description": "Patient: {{ $node[\"Edit Fields\"].json.patientName }} Email: {{ $node[\"Edit Fields\"].json.patientEmail }}",
          "summary": "=Physiotherapy Appointment – {{ $node[\"Edit Fields\"].json.patientName }}\n"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        784,
        0
      ],
      "id": "2f50efab-ea8a-4c80-a679-9a95da2f209a",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "9QO07SnOd3asdlq3",
          "name": "Google Calendar account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GCJZ26cuHXfukTpei9L_BH8uA8WU0iveK0lQ9MBvUBs",
          "mode": "list",
          "cachedResultName": "AI appointment sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GCJZ26cuHXfukTpei9L_BH8uA8WU0iveK0lQ9MBvUBs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GCJZ26cuHXfukTpei9L_BH8uA8WU0iveK0lQ9MBvUBs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "patientName": "={{ $node[\"Edit Fields\"].json.patientName }}",
            "patientEmail": "={{ $node[\"Edit Fields\"].json.patientEmail }}",
            "requestedDate": "={{ $node[\"Edit Fields\"].json.requestedDate }}",
            "requestedTime": "={{ $node[\"Edit Fields\"].json.requestedTime }}",
            "durationMinutes": "={{ $node[\"Edit Fields\"].json.durationMinutes }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "patientName",
              "displayName": "patientName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "patientEmail",
              "displayName": "patientEmail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "requestedDate",
              "displayName": "requestedDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "requestedTime",
              "displayName": "requestedTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "durationMinutes",
              "displayName": "durationMinutes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1056,
        0
      ],
      "id": "37f134f7-b585-483a-bee0-62113a1e0b73",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "D8oL1zsLdHr2Xe6c",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $node[\"Edit Fields\"].json.patientEmail }}",
        "subject": "=Physiotherapy Appointment Confirmed",
        "message": "=Hi {{ $node[\"Edit Fields\"].json.patientName }},\n\nYour appointment with Dr. Strange has been confirmed.\n\nDate: {{ $node[\"Edit Fields\"].json.requestedDate }}\nTime: {{ $node[\"Edit Fields\"].json.requestedTime }}\nDuration: {{ $node[\"Edit Fields\"].json.durationMinutes }} minutes\n\nRegards,\nDr. Strange Clinic\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1296,
        16
      ],
      "id": "eecfe768-452b-492e-918b-499759bcaea8",
      "name": "Send a message",
      "webhookId": "cc51b0b9-af33-4ac0-9cf4-56fd064dfa77",
      "credentials": {
        "gmailOAuth2": {
          "id": "8MWvnCRTGtqEFTJj",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "fdc3319a-cb99-4967-8a2d-c8d9ff54ea93",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "46a0a30200b2676b86788872a9d8797248b8931d322255a214bd7b0effbe1f98"
  },
  "id": "7Lee1FqEaQKLFX5jioUvW",
  "tags": []
}